<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="col-3 min-wh-400"  >
        <div class="card card-container padding-horizontal-30">
            <img src="/assets/img/logo.png" style="height:120px;margin:0 auto;padding-top: 5px;">
            <h3><b>Register</b></h3>
            <div class="form-group">
                <input [(ngModel)]="mail" class="form-control" placeholder="Email">
                <small *ngFor="let error of errors.Email" class="text-danger" > {{error}}</small>
            </div>
            <div class="form-group">
                <input [(ngModel)]="name" class="form-control" placeholder="Name">
                <small *ngFor="let error of errors.Name" class="text-danger" > {{error}}</small>
            </div>
            <div class="form-group">
                <input [(ngModel)]="surname" class="form-control" placeholder="Surname">
                <small *ngFor="let error of errors.Surname" class="text-danger" > {{error}}</small>
            </div>
            <div class="form-group">
                <input [(ngModel)]="password" type="password" class="form-control" placeholder="Password">
                <small *ngFor="let error of errors.Password" class="text-danger" > {{error}}</small>
            </div>
            <div class="form-group">
                <input [(ngModel)]="confirmPassword" type="password" class="form-control" placeholder="Confirm Password">
                <small *ngFor="let error of errors.ConfirmPassword" class="text-danger" > {{error}}</small>
            </div>
            <div>
                <small>Do you have an account? </small><a routerLink="/auth/login"><small>Login</small></a>
            </div>
            <small *ngFor="let error of errors.CustomErrors" class="text-danger" > {{error.description}}</small>
            <div class="form-group">
                <button type="button" (click)="onSubmit()" class="btn btn-primary float-right">Register</button>
            </div>
        </div>
        <div>
        </div>
      </div>
</div>

