<div class="container">
    <div class="d-flex justify-content-between">
		<div class="p-2">
			<h4>My Assignments</h4>
		</div>
		<div class="p-2">
			<button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModal"> <i
					class="fas fa-plus"></i>Create New Assignments</button>
		</div>
	</div>
    <div class="row p-2">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#assign">Assignments </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#teachers">Teachers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " data-toggle="tab" href="#students">Students</a>
            </li>
        </ul>
        
            
<!--
     <section class="jumbotron text-center">
                    <div class="container">
                    <div *ngFor="let assignment of assignments; index as i">
                      <h1 class="jumbotron-heading">Homework Definition</h1>
                      <p class="lead text-muted">Given an array of n elements, create a new array which is a rotation of given array and hamming distance between both the arrays is maximum.
                        Hamming distance between two arrays or strings of equal length is the number of positions at which the corresponding character(elements) are different.</p>
                        <p> <small>{{assignment.description}} </small></p>
                    </div>
                    </div>
                  </section>
-->
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active show" id="assign">
                <section class="jumbotron text-center">
                    <div class="container">
                      <h1 class="jumbotron-heading">Homework Definition</h1>
                      <p class="lead text-muted">Given an array of n elements, create a new array which is a rotation of given array and hamming distance between both the arrays is maximum.
                        Hamming distance between two arrays or strings of equal length is the number of positions at which the corresponding character(elements) are different.</p>
                    </div>
                  </section>
            </div>

            <div class="tab-pane fade" id="teachers">
                <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro
                    fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer,
                    iphone
                    skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings
                    gentrify squid 8-bit cred pitchfork.</p>
            </div>
            <div class="tab-pane fade" id="students">
                <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master
                    cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party
                    locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before
                    they
                    sold out farm-to-table VHS viral locavore cosby sweater.</p>
            </div>
        </div>
    </div>
</div>

