<div class="container">
    <div class="row p-2">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#assign">Assignments </a>
                
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#teachers">Teachers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " data-toggle="tab" href="#students">Students</a>
            </li>


        </ul>
        
            
        
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active show" id="assign">
                <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua,
                    retro
                    synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit
                    butcher
                    retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid.
                    Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher
                    voluptate
                    nisi qui.</p>
                    <div class="col-md-4 p-2" >
                        <div class="card" style="cursor: pointer; height: 300px;">
                            <img src="https://source.unsplash.com/400x300/?coding,programming" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-text">{{assignments.description}}</p>
                            </div>
                        </div>
                    </div>
                     
                  <!--   <div class="d-flex justify-content-between">
                        <div class="p-2">
                            <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModal"> <i
                                    class="fas fa-plus"></i> Create New Assignment</button>
                        </div>
                    </div>  -->
                   
            </div>

            <div class="tab-pane fade" id="teachers">
                <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro
                    fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer,
                    iphone
                    skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings
                    gentrify squid 8-bit cred pitchfork.</p>
            </div>
            <div class="tab-pane fade" id="students">
                <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master
                    cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party
                    locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before
                    they
                    sold out farm-to-table VHS viral locavore cosby sweater.</p>
            </div>
        </div>
    </div>
</div>