<div class="container">
	<div class="row mb-5 cstm-height-card">
		<div class="col-md-4 p-2" *ngFor="let course of courses; index as i">
			<div class="card" style="cursor: pointer; height: 300px;" (click)="courseDetail(course)">
				<img src="https://source.unsplash.com/400x300/?coding,programming" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">{{course.name}}</h5>
					<p class="card-text">{{course.description}}</p>
					<p> <small>{{course.studentsEnrolled}} students</small></p>
				</div>
			</div>
		</div>
	</div>
</div>
