
<!-- 
<div class="Sign up">
       <form>
        <label for="fname">Student Number:</label><br>
        <input type="text" id="fname" name="fname" value=""><br>
        <label for="lname">Name:</label><br>
        <input type="text" id="lname" name="lname" value=""><br>
        <label for="lname">Subject Code:</label><br>
        <input type="text" id="lname" name="lname" value=""><br>
        <input type="submit" value="Submit">
    </form>
      
</div>

<div class="container">

    <table class="table table-danger">
        <tr>
            <th></th>
            <th>Student ID</th>
            <th>Student Name</th>

            <th>Course ID</th>
            <th>Course Name</th>
        </tr>
        <tr *ngFor="let studentCourse of StudentCourses; index as i">
            <td>{{i+1}}</td>
            <td>{{studentCourse.studentId}}</td>
            <td>{{studentCourse.studentName}}</td>
            <td>{{studentCourse.courseId}}</td>
            <td>{{studentCourse.courseName}}</td>
        </tr>
    </table>
</div>
-->

<section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Homework Definition</h1>
      <p class="lead text-muted">Given an array of n elements, create a new array which is a rotation of given array and hamming distance between both the arrays is maximum.
        Hamming distance between two arrays or strings of equal length is the number of positions at which the corresponding character(elements) are different.</p>
    </div>
  </section>
